/*!
 * Roots 6.5.0
 */
/* ==========================================================================
   Base
   ========================================================================== */

h1 {font-family:"museo-slab";font-weight:900;font-size:42px;color:#EEE;text-transform:uppercase;}
h2 {font-family:"museo-slab";font-size:30px;font-weight:900;color:#EEE;text-transform:uppercase;}
h3 {font-family:"proxima-nova-alt";font-size:22px;font-weight:100;color:#EEE;}
h4 {font-family:"proxima-nova-alt";font-size:18px;font-weight:400;color:#EEE;}
h5 {font-family:"proxima-nova-alt";font-size:16px;font-weight:700;color:#EEE;}
h6, small {font-family:"proxima-nova-alt";font-size:13px;font-weight:700;color:#EEE;}

p, body {font-family:"proxima-nova-alt";font-size:16px;font-weight:600;color:#EEE;text-rendering: geometricPrecision;-webkit-font-smoothing: antialiased !important;}
p {letter-spacing: 1px;margin-bottom: 20px;line-height: 1.2em;}
blockquote p {font-size: 22px;font-weight: 100;font-style: italic;line-height: 1em;}
blockquote {padding: 10px 20px;margin: 0 0 20px;border:none!important;}

.black {color:#3E3E3E!important;}
.white {color:#FFF!important;}

a {transition:color .2s ease;color:#727272;}
a:hover {text-decoration:none;color:#FFFFFF;}

.main {margin-bottom:100px;}


/* ==========================================================================
   HOME
   ========================================================================== */

/*-------- BACKGROUND --------*/
#stars {
  background: url('../img/home-bg.jpg');
  background-size: cover;
  width: 100%;
  height: 3600px;
  position: fixed;
  top: 0;
  z-index: 0;
}

/*-------- CONTENT --------*/
#homecontent {
  position: relative;
  margin: 0 auto;
  z-index: 300;
  text-align: center;
}

#homecontent > article {
  padding-top: 160px;
  text-align: center;
}

#homecontent > article#news {
  position:absolute;
  left:0;
  right:0;
  margin: 0 auto;
}

#homecontent > article#tour {
  position: absolute;
  top: 2400px;
  left:0;
  right:0;
  margin: 0 auto;
}

#homecontent > article#videos {
  position: absolute;
  top: 4800px;
  left:0;
  right:0;
  margin: 0 auto;
  padding-bottom: 2000px;
}

/*-------- IMAGES --------*/
/*#top {
  width: 100%;
  height: 200%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  z-index: 200;
}

#images {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  text-align: center;
}

#images img {
  width: 100%;
  height: 200%;
  padding-top: 120px;
}

#img-middle {
  position: absolute;
  top: 1500px;
}

#img-bottom {
  position: absolute;
  top: 3000px;
}*/






.credits a {
  color: #AFAFAF;
}

.credits a:hover {
  color: #fff;
}

div#mc_embed_signup {
  background: transparent;
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
}

div#mc_embed_signup .mc-field-group {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 5px!important;
}

div#mc_embed_signup .clear {
  clear: both;
  width: 120px;
  margin: 0 auto;
}

.logo {
  margin: 0 auto;
}

input#mc_embed_signup .button {
  width: 100%;
}

#mc-embedded-subscribe-form {
  padding-left: 0px!important;
}

input#mc-embedded-subscribe.button {
  height: 25px!important;
}

input#mce-EMAIL, input#mc-embedded-subscribe.button {
  background: #3a3a3a;
  border-radius: 25px;
  height: 25px;
  font-family: 'proxima-nova';
  color: #888888;
  text-align: center!important;
}

input::-webkit-input-placeholder {
  font-family: 'proxima-nova';
  color: #888888;
  text-align: center;
}

input:moz-placeholder {
  font-family: 'proxima-nova';
  color: #888888;
  text-align: center;
}

input::moz-placeholder {
  font-family: 'proxima-nova';
  color: #888888;
  text-align: center;
}

input:ms-input-placeholder {
  font-family: 'proxima-nova';
  color: #888888;
  text-align: center;
}

.social-shots {
  list-style: none;
  padding-left: 0px;
}

.shot-container {
  width: 80px;
  height: 85px;
  margin: 0 auto;
  background: url('../img/shot.png') no-repeat;
  background-position: 0px -80px;
}

.shot-mask {
  width: 80px;
  height: 83px;
  margin: 0 auto;
  -webkit-transition:background-position .4s ease;
  background-position: 0px 60px!important;
  background: url('../img/shot.png') no-repeat;
  mask: url(../img/shot.png);
  -webkit-mask: url(../img/shot.png);
  -webkit-mask-position: 0px 3px;
  -o-mask: url(../img/shot.png);
  -ms-mask: url(../img/shot.png);
}

.hover-shot {
  height: 80px;
  width: 80px;
}

.hover-shot:hover .shot-mask {
  background-position: 0px 10px!important;
}

.social-shots .hover-shot:hover i {
  color: #000;
}

#mc_embed_signup input:focus {
  outline: none;
}

.social-shots li {
  margin-bottom: 25px;
}

.social-shots i {
  z-index: 2;
  -webkit-transition: color .8s ease;
  color: #fff;
  font-size: 32px;
  text-align: center;
  min-width: 30px;
  top: 15px;
  position: absolute;
  left: 50%;
  margin-left: -15px;
}

.icon-box {
  width: 80px;
}
/* ==========================================================================
   Header
   ========================================================================== */

.banner {  }

/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar {
  /*background-color: #303d50;
  height: 35px;*/
  padding: 0;
  margin: 0;
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 1000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: transparent;
width: 590px;
margin: 0 auto;
}

ul#menu-primary-navigation {width: 100%;background: #1a1a1a;margin: 0 auto;}
#menu-primary-navigation li {display: inline;width: 20%;}
#menu-primary-navigation li a {
color: #727272;
font-family:"proxima-nova-alt";
font-size:18px;
font-weight:600;
text-transform:uppercase;
transition:color .3s ease
}
#menu-primary-navigation li a:hover {color: #FFF;}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #cfba97!important;
background-color: transparent!important;
}

.navbar-default {
background-color: transparent;
border-color: transparent;
}

/*
#main-nav ul {
  width: 960px;
  margin: 0 auto;
  height: 25px;
  padding-top: 10px;
  padding-left: 10%
}

#main-nav ul li {
  float: left;
  height: 30px;
  width: 200px;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

#main-nav ul li a {
  color: #f1ecb9;
  font-weight: bold;
  text-decoration: none;
}
*/
/* ==========================================================================
   ABOUT
   ========================================================================== */

.content { }

/* ==========================================================================
   PHOTOS
   ========================================================================== */

/* Gallery Shortcode */
.gallery-row {padding: 15px 0;}


/* ==========================================================================
   CONTACT
   ========================================================================== */

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }
#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px; list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height:45px;
  text-align: center;
  background: #1a1a1a;
  z-index: 1000;
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 767px) {

.navbar-default {
background-color: #1a1a1a;
border-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {width: 100%;}
ul#menu-primary-navigation {text-align: center;}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

#mc_embed_signup div#mce-responses div {
  width: 50%!important;
  margin: 0 auto!important;
  float: none;
  text-align: center;
  margin-top: -15px!important;
  color: #fff;
}

#mce-responses div {
  width: 100%!important;
}

.outer {
  top: -135px;
}

.outer.left {
  -ms-transform: rotate(35deg); /* IE 9 */
  -webkit-transform: rotate(35deg); /* Chrome, Safari, Opera */
  transform: rotate(35deg);
}

.outer.right {
  -ms-transform: rotate(-35deg); /* IE 9 */
  -webkit-transform: rotate(-35deg); /* Chrome, Safari, Opera */
  transform: rotate(-35deg);
}

.inner.right {
  -ms-transform: rotate(-25deg); /* IE 9 */
  -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
  transform: rotate(-25deg);
}

.inner.left {
  -ms-transform: rotate(25deg); /* IE 9 */
  -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
  transform: rotate(25deg);
}

.inner {
  top: -25px;
}

.center {
  top: 30px;
}

.social-shots li {
  margin-bottom: 0px;
}

.content {
  padding-top: 5%;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) {

}
